.App {
  text-align: center;
}

.App-link {
  color: #074a5c;
}

.News{
  background-color: rgb(242, 246, 242);
  border: 1px solid rgb(158, 148, 148);
  padding: 10px;
}

.News p{
  background-color: rgb(225, 177, 22);
}


 